<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span [routerLink]="['/']" routerLinkActive="router-link-active" >News Push</span>

    <span class="example-spacer"></span>

    <button mat-button routerLink="/categories" [routerLinkActive]="['active']">Categorias</button>
    <button mat-button [routerLink]="['/news']" [routerLinkActive]="['active']">Noticias</button>
<!-- 
    <a routerLink="/categories" routerLinkActive="['link-active']">Bob</a>
    <a routerLink="/news" [routerLinkActive]="['active']">Bobasdas</a>

    <a routerLink="/" [routerLinkActive]="['link-active']">JuanDieh</a> -->
    <button mat-button>ayuda</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>{{title}}</mat-card>

<div class="divConten">
  <router-outlet>
  
  </router-outlet>
</div>


